---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ArticleCard from "../components/ArticleCard.astro";

const articles = await getCollection("articles", ({ data }) => {
  return data.published !== false;
});
const base = import.meta.env.BASE_URL;
const latestArticles = articles.slice(0, 5);
---

<Layout
  title="【原神】星々の幻境 自己流制作マニュアル"
  description="原神『星々の幻境』の制作方法をまとめた個人サイトです。"
>
  <main>
    <section class="hero">
    <p class="eyebrow">Genshin Impact / Miliastra Wonderland</p>

    <h1>【原神】星々の幻境 自己流制作マニュアル</h1>

    <p>
        原神のゲーム内コンテンツ「星々の幻境」でのステージ制作について、
        個人的に調べたことや制作方法をまとめていくサイトです。
    </p>

    <p>現在、少しずつ制作中です。</p>

    <div class="hero-actions">
        <a class="button button-secondary" href={`${base}about`}>このサイトについて</a>
    </div>
    </section>

    <section>
      <h2>まずはこちら</h2>
      <ul>
        <li><a href={`${base}about`}>このサイトについて</a></li>
        <li><a href={`${base}about_miliastra`}>星々の幻境とは</a></li>
        <li><a href={`${base}beginner`}>これから制作する方へ</a></li>
<!--         <li><a href={`${base}features`}>機能説明</a></li> -->
      </ul>
    </section>

    <section>
      <h2>制作実例</h2>
      <ul>
        <li>ハイスピードラン（準備中）</li>
        <li>モンド風オートツアー（準備中）</li>
        <li>魔術師の迷いの森（準備中）</li>
      </ul>
    </section>

    <section>
    <h2>新着記事</h2>

    {latestArticles.length > 0 ? (
        <div class="article-grid">
        {latestArticles.map((article) => (
            <ArticleCard article={article} />
        ))}
        </div>
    ) : (
        <p>記事はまだありません。</p>
    )}
    </section>
  </main>
</Layout>